$device: (pc:1600px, macpro:1440px, nb:1366px, macair:1200px, padpro:1024px, pad:768px, phone:480px, xsphone:360px);
$lineheight: (none:0em, sametext:1em, short:1.17em, normal:1.5em, semitall:1.75em, tall:2em,);
$color: (default:#000, main:#500195, main_light:#6f15be, main_lighter:#9a57d3,main_lightest:#c290ec, secondary: #ff6698, grey_1: #888, success: #1cb338, fail:#c92727, alarm:#ffbb01);
$border: (grey-1px:1px solid #e9e9e9, main-1px:1px solid #6f15be, main-2px:2px solid #6f15be);
$font_family: 'ABeeZee','Arial','Noto Sans TC','Microsoft Jhenghei';
$prefix: '-webkit-','-moz-','-ms-','-o-';

@function color($name) {
    @return map-get($color, $name);
}

@function device($name) {
    @return map-get($device, $name);
}

@function lineheight($name) {
    @return map-get($lineheight, $name);
}

@function border($name) {
    @return map-get($border, $name);
}

@mixin responsive($selected) {
    @media all and (min-width: device($selected)) {
        @content;
     }
}

@mixin transition{
    transition: .1s linear all;
    @each $i in $prefix{
        #{$i}transition: .1s linear all;
    }
}

@mixin fa{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

@mixin scrollbar($wid,$bg,$color,$hover){
    &::-webkit-scrollbar {width: $wid;height: $wid}
    &::-webkit-scrollbar-track {background: $bg; }
    &::-webkit-scrollbar-thumb {background: $color; }
    &::-webkit-scrollbar-thumb:hover {background: $hover; }
}

@mixin linkhover($default,$hover){
    color: $default;
    &:hover,&.active{
        color: $hover;
        @content;
    }
}

@mixin flexcenter($align){
    display: flex;
    @if ($align == extreme) {
        align-items: center;
        justify-content: center
    }
    @else if($align == hcenter) {
        justify-content: center
    }
    @else if($align == vcenter) {
        align-items: center;
    }
}

@mixin overlay($bg){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bg;
}

@mixin textbox($lh){
    @for $i from 2 to 3 {
        &.line#{$i}{
            height: $lh * $i;
        }
    }
}
@mixin b_radius{
    border-radius: 6px
}
@mixin b_radius_l{
    border-radius: 10px
}