@charset "UTF-8";
/* brand */
/* opacity & gradient */
/* 例如:
  @include device(pc);
  得到 1400px
*/
/*
例如：
  @include res(pad, to-pc) {...}
  等同於
  @media all and (min-width: 768px) {...}

  @include res(pad, to-mb) {...}
  等同於
  @media all and (max-width: 767px) {...}
*/
/*
  for example:

  .grids-3{
    @include setgrids(3,12px);
  }

  在.grids-3底下的children會以3個一列，彼此間距為12px

  .grids-4{
    @include setgrids(2,12px,[[pad,3,16px],[pc,4,20px]]);
  }

  在.grids-4底下的children在pc以上的裝置會以4個一列，彼此間距為20px
                         在pad-pc的裝置會以3個一列，彼此間距為16px
                         在pad以下的裝置會以2個一列，彼此間距為12px

*/
*, ::after, ::before, :after, :before {
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Arial", "Noto Sans TC", sans-serif;
}

a {
  display: inline-block;
  color: #2d83a7;
  transition: 0.3s linear all;
}
a:hover {
  text-decoration: none;
  color: #2c2c2c;
}
a:focus {
  outline: none;
}

img, iframe {
  max-width: 100%;
}

section {
  padding: 30px 0;
}
@media all and (min-width: 992px) {
  section {
    padding: 48px 0;
  }
}
@media all and (min-width: 1600px) {
  section {
    padding: 72px 0;
  }
}

a:focus {
  outline: none;
}

input, button, textarea, select {
  border: 0;
}
input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #c5c5c5;
}

:-moz-placeholder {
  color: #c5c5c5;
}

::-moz-placeholder {
  color: #c5c5c5;
}

:-ms-input-placeholder {
  color: #c5c5c5;
}

.mt-30 {
  margin-top: 20px !important;
}
@media all and (min-width: 992px) {
  .mt-30 {
    margin-top: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 20px !important;
}
@media all and (min-width: 992px) {
  .mb-30 {
    margin-bottom: 30px !important;
  }
}

.breadcrumb {
  padding: 0;
  background: transparent;
  font-size: 0.875em;
}

.slick-arrow {
  opacity: 0.5;
  background: #777676;
  padding: 0;
}
.slick-arrow:before {
  color: #fff;
  font-size: 15px;
}
.slick-arrow:hover {
  background: #2d83a7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}
@media all and (min-width: 1200px) {
  .slick-arrow {
    left: -50px;
  }
  .slick-arrow.slick-next {
    left: auto;
    right: -50px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media all and (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media all and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media all and (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}

.grids-2 {
  display: flex;
  flex-wrap: wrap;
}
.grids-2 > * {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
@media all and (min-width: 768px) {
  .grids-2 > * {
    margin-bottom: 20px;
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .grids-2 > *:not(:nth-child(2n+2)) {
    margin-right: 20px;
  }
  .grids-2 > *:nth-child(2n+2) {
    margin-right: 0;
  }
}

.grids-3 {
  display: flex;
  flex-wrap: wrap;
}
.grids-3 > * {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
@media all and (min-width: 768px) {
  .grids-3 > * {
    margin-bottom: 20px;
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .grids-3 > *:not(:nth-child(2n+2)) {
    margin-right: 20px;
  }
  .grids-3 > *:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media all and (min-width: 1200px) {
  .grids-3 > * {
    margin-bottom: 30px;
    flex-basis: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
  .grids-3 > *:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .grids-3 > *:nth-child(3n+3) {
    margin-right: 0;
  }
}

.grids-6 {
  display: flex;
  flex-wrap: wrap;
}
.grids-6 > * {
  flex-basis: calc(50% - 3px);
  max-width: calc(50% - 3px);
  margin-bottom: 6px;
}
.grids-6 > *:not(:nth-child(2n+2)) {
  margin-right: 6px;
}
.grids-6 > *:nth-child(2n+2) {
  margin-right: 0;
}
@media all and (min-width: 768px) {
  .grids-6 > * {
    margin-bottom: 6px;
    flex-basis: calc(33.33% - 4px);
    max-width: calc(33.33% - 4px);
  }
  .grids-6 > *:not(:nth-child(3n+3)) {
    margin-right: 6px;
  }
  .grids-6 > *:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media all and (min-width: 992px) {
  .grids-6 > * {
    margin-bottom: 6px;
    flex-basis: calc(25% - 4.5px);
    max-width: calc(25% - 4.5px);
  }
  .grids-6 > *:not(:nth-child(4n+4)) {
    margin-right: 6px;
  }
  .grids-6 > *:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media all and (min-width: 1200px) {
  .grids-6 > * {
    margin-bottom: 6px;
    flex-basis: calc(16.66% - 5px);
    max-width: calc(16.66% - 5px);
  }
  .grids-6 > *:not(:nth-child(6n+6)) {
    margin-right: 6px;
  }
  .grids-6 > *:nth-child(6n+6) {
    margin-right: 0;
  }
}

.headerwrap .navbar-toggler:not(.collapsed) .fa-bars:before {
  content: "";
}
.headerwrap .navbar-toggler-icon {
  line-height: 1.5em;
}
.headerwrap .navbar-brand {
  margin-right: 0;
  max-width: calc(100% - 60px);
}
.headerwrap .navbar-brand img {
  max-height: 45px;
}
@media all and (min-width: 992px) {
  .headerwrap .navbar-brand {
    padding: 1rem 0;
  }
  .headerwrap .navbar-brand img {
    max-height: 60px;
  }
}
.headerwrap.fixed header {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.11);
}
.headerwrap.fixed header .submenu {
  padding-top: 10px;
}

.topbar {
  text-align: right;
  padding: 8px 0;
}
.topbar a {
  font-size: 13px;
  color: #28a7e1;
}
.topbar a:hover {
  color: #2d83a7;
}
.topbar .submenu {
  padding-top: 8px;
  left: auto;
  right: 0;
}

.has_submenu {
  position: relative;
}

@media all and (min-width: 992px) {
  .has_submenu:hover .submenu {
    display: block;
  }
}
.submenu {
  display: none;
  z-index: 2;
  min-width: 100%;
  padding-top: 12px;
  position: absolute;
  left: 0;
  top: 100%;
}
.submenu ul {
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.11);
}
.submenu ul li {
  white-space: nowrap;
  position: relative;
  background: #fff;
}
.submenu ul li a {
  display: block;
  background: #fff;
  font-size: 0.9em;
  padding: 0.3rem 0.75rem !important;
}
.submenu ul li a:hover {
  background: #2d83a7;
  color: #fff;
}

.navbar-nav > .nav-item {
  transition: all 0.5s ease;
}
.navbar-nav > .nav-item > .nav-link {
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #2c2c2c;
  transition: all 0.5s ease;
}
.navbar-nav > .nav-item > .nav-link:hover {
  color: #2d83a7;
  text-shadow: 1px solid #2d83a7;
}
@media all and (max-width: 991px) {
  .navbar-nav {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .navbar-nav .submenu {
    padding-top: 0;
    position: static;
  }
  .navbar-nav > .nav-item > .nav-link {
    padding: 0.5em 1em;
    width: 100%;
  }
  .navbar-nav > .nav-item:not(:last-child) > .nav-link {
    border-bottom: solid 1px #c5c5c5;
  }
}

@media all and (min-width: 992px) {
  .navbar-nav > .nav-item {
    position: relative;
  }
  .navbar-nav > .nav-item:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #28a7e1;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
  }

  .navbar-nav > .nav-item:hover:before {
    transform: scaleX(1);
  }

  .navbar-nav > .nav-item:not(:last-child) {
    margin-right: 1.5em;
  }
}
@media all and (min-width: 1200px) {
  .navbar-nav > .nav-item:not(:last-child) {
    margin-right: 3em;
  }
}
.nav-link {
  position: relative;
}

.footer {
  color: #777676;
  background: #f4f8fa;
  padding-top: 30px;
  font-size: 14px;
  line-height: 2em;
}
.footer ul > li {
  vertical-align: top;
}
.footer a {
  color: #777676;
}
.footer a:hover {
  color: #2d83a7;
}
.footer h5 {
  color: #777676;
  font-weight: bold;
  font-size: 18px;
}
.footer ul.footer-ul-2-col > li {
  display: inline-block;
  width: 100%;
}
.footer ul.footer-ul-4-col > li {
  display: inline-block;
  width: 48%;
}
@media all and (min-width: 576px) {
  .footer ul.footer-ul-2-col > li {
    display: inline-block;
    width: 48%;
  }
}
@media all and (min-width: 992px) {
  .footer ul.footer-ul-2-col > li {
    display: inline-block;
    width: 48%;
  }
  .footer ul.footer-ul-4-col > li {
    display: inline-block;
    width: 48%;
  }
}
@media all and (min-width: 1200px) {
  .footer ul.footer-ul-4-col > li {
    display: inline-block;
    width: 23%;
  }
}
@media all and (min-width: 992px) {
  .footer {
    padding-top: 42px;
  }
}
.footer .copyright {
  font-size: 12px;
  margin: 0;
  background: #2d83a7;
  text-align: center;
  padding: 15px 10px;
  color: rgba(255, 255, 255, 0.6);
}

.float-cart {
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #28a7e1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.11);
  color: #fff;
}
.float-cart:hover {
  background: #fff;
  color: #2d83a7;
}

.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #28a7e1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.11);
  color: #fff;
}
.scrollToTop:hover {
  background: #fff;
  color: #2d83a7;
}

.i-arrow-r {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: 0.1s linear all;
}
.i-arrow-r:before, .i-arrow-r:after {
  content: "";
  display: block;
  width: 21px;
  background: #fff;
  height: 1px;
}
.i-arrow-r:after {
  width: 8px;
  position: relative;
  left: calc(100% - 8px);
  top: -3px;
  transform: rotate(30deg);
}

.txt-l1 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  -webkit-line-clamp: 1;
  height: 1.5em;
}

.txt-l2 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  -webkit-line-clamp: 2;
  height: 3em;
}

.txt-l3 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  -webkit-line-clamp: 3;
  height: 4.5em;
}

.text-main {
  color: #2d83a7 !important;
}

.text-grey {
  color: #777676 !important;
}

.text-light {
  color: #f4f8fa !important;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #2c2c2c !important;
}

.bg-main {
  background: #2d83a7 !important;
}

.bg-grey {
  background: #777676 !important;
}

.bg-light {
  background: #f4f8fa !important;
}

.bg-white {
  background: #fff !important;
}

.bg-black {
  background: #2c2c2c !important;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* button */
.btn {
  text-align: center;
  font-size: 14px;
  padding: 0.5em 1em;
}
.btn:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
@media all and (min-width: 992px) {
  .btn {
    font-size: 16px;
    min-width: 120px;
    padding: 0.5em 2em;
  }
}

/* 圓角按鈕 */
.btn-pill {
  border-radius: 50px;
}

.btn-main {
  border: 1px solid #2d83a7;
  background: #2d83a7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}
.btn-main:hover {
  background: transparent;
  color: #2d83a7;
}

.btn-white {
  background: #fff;
  border-radius: 30px;
  color: #2c2c2c;
}
.btn-white:hover {
  background: #28a7e1;
  color: #fff;
}

.btn-line {
  color: #fff;
  background: #4ecd00;
}
.btn-line:hover {
  background: rgba(78, 205, 0, 0.4);
}

.btn-facebook {
  color: #fff;
  background: #4267b2;
}
.btn-facebook:hover {
  background: rgba(66, 103, 178, 0.4);
}

.btn-google {
  color: #fff;
  background: #ea4335;
}
.btn-google:hover {
  background: rgba(234, 67, 53, 0.4);
}

.tag {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
  color: #fff;
}
.tag.hot {
  background: #dd0808;
}
.tag.new {
  background: #2d83a7;
}

.list-inline-item {
  vertical-align: middle;
}

.list-page > li {
  display: inline-block;
  margin-right: 5px;
}
@media all and (min-width: 768px) {
  .list-page > li {
    margin-right: 10px;
  }
}
.list-page > li a {
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  color: #2d83a7;
}
.list-page > li a:hover,
.list-page > li a :focus {
  border: 1px solid #2d83a7;
}
.list-page > li a.active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  background: #2d83a7;
  color: #fff;
}

.list-angle li {
  display: flex;
  align-items: center;
}
.list-angle li a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  font-size: 0.75em;
  margin-right: 8px;
}

.board {
  padding: 15px 10px;
  border: solid 1px #c5c5c5;
  border-radius: 15px;
}
@media all and (min-width: 1200px) {
  .board {
    padding: 25px 20px;
  }
}

.oval {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.oval img {
  max-width: 65px;
  max-height: 65px;
}

.box-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
}
.box-img:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
.box-img.r-4-3:before {
  padding-bottom: 75%;
}
.box-img.r-16-9:before {
  padding-bottom: 56.25%;
}
.box-img.img-fit-text:before {
  padding-bottom: 50%;
}
.box-img.img-contain {
  background-size: contain;
}

/* Iframe 影片樣式 */
.box-iframe {
  position: relative;
}
.box-iframe:before {
  content: "";
  width: 100%;
  display: block;
  padding-bottom: 56.25%;
}
.box-iframe iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hover-shadow-scale {
  transition: all 0.5s ease;
}
.hover-shadow-scale:hover, .hover-shadow-scale:active {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0px 0.2rem 1rem 1px rgba(0, 15, 94, 0.16);
}

/* banner 大圖: 寬高比 (1920 * 600) */
.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner:before {
  content: "";
  display: block;
  min-height: 200px;
  width: 100%;
  padding-bottom: 31.25%;
}
.banner .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner.banner-page:before {
  padding-bottom: 20.83%;
}

.box-qty input {
  display: inline-block;
  max-width: 130px;
  vertical-align: middle;
}
.box-qty button {
  border-radius: 3px;
  font-size: 18px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  vertical-align: middle;
  border: 1px solid #bab9b9;
}
.box-qty button:first-of-type {
  background: #777676;
  color: #fff;
}
.box-qty button:nth-of-type(2) {
  background: #fff;
  color: #777676;
}

.box-msg {
  background: rgba(45, 131, 167, 0.08);
  padding: 30px;
}
@media all and (min-width: 992px) {
  .box-msg {
    padding: 40px;
  }
}

/* 三欄式的輪播投影片 */
.slider-col-3 {
  margin-left: -10px;
  margin-right: -10px;
}
.slider-col-3 .item {
  padding: 10px 10px 15px;
}
.slider-col-3 .item:hover .card {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.11);
}

.edit-area {
  line-height: 1.75;
  color: #656569;
}
.edit-area ul {
  padding-left: 1em;
  list-style: disc;
}
.edit-area ol {
  padding-left: 1em;
  list-style: decimal;
}
.edit-area img {
  height: auto !important;
}
.edit-area ul, .edit-area ol, .edit-area img, .edit-area h1, .edit-area h2, .edit-area h3, .edit-area h4, .edit-area h5, .edit-area h6 {
  margin-bottom: 1rem;
}
.edit-area iframe {
  max-width: 100%;
}
.edit-area a {
  color: #2d83a7;
}
.edit-area blockquote {
  background-color: #f5f6fa;
  border-left: 4px solid #2d83a7;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 1.1em;
}
.edit-area .post-details {
  margin-bottom: 20px;
  line-height: 1;
  padding-left: 0;
}
.edit-area .post-details li {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid currentColor;
}
.edit-area .post-details li i {
  margin-right: 5px;
  color: #2d83a7;
  position: relative;
  top: 2px;
}
.edit-area .post-details li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list-menu {
  width: 100%;
  background-color: #fff;
  color: #2c2c2c;
  border: 1px solid #e6e6e6;
}
.list-menu > .list-menu-group {
  position: relative;
}
.list-menu .list-title,
.list-menu .list-content {
  padding: 0.75rem 1rem;
  border-left: 3px solid #22637f;
  box-shadow: 1px 0 1px #e6e6e6;
}
.list-menu .list-content {
  position: absolute;
  width: 100%;
  padding: 0.5rem 1rem;
  background: #f4f8fa;
  z-index: 1;
}
.list-menu .list-content a.list-item,
.list-menu .list-content .list-item {
  color: #2c2c2c;
  width: 100%;
  padding: 0.5rem 0;
}
.list-menu .list-content a.list-item:hover, .list-menu .list-content a.list-item.active,
.list-menu .list-content .list-item:hover,
.list-menu .list-content .list-item.active {
  color: #2d83a7;
}
.list-menu .list-title.has-submenu {
  position: relative;
}
.list-menu .list-title.has-submenu::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  text-align: right;
  transform: translate(-100%, -50%);
}
.list-menu .list-title.has-submenu.opened {
  color: #2d83a7;
}
.list-menu .list-title.has-submenu.opened::after {
  transform: translate(-100%, -50%) rotate(180deg);
}
@media all and (min-width: 768px) {
  .list-menu .list-content {
    position: static;
    margin-left: 0;
  }
}

.no-caret::after {
  content: none;
}

table.rwd-table td {
  vertical-align: middle;
  text-align: center;
}
table.rwd-table .td-with-img img {
  max-width: 80px;
}
table.rwd-table tr.active,
table.rwd-table tr.active a,
table.rwd-table td.active,
table.rwd-table td.active a,
table.rwd-table th.active,
table.rwd-table th.active a {
  background: #2c2c2c;
  color: #fff;
}
table.rwd-table .mobile-th {
  display: none;
}
table.rwd-table > tfoot.tfoot-borderless > tr > td, table.rwd-table > tfoot.tfoot-borderless > tr > th {
  border: transparent;
}
@media all and (max-width: 767px) {
  table.rwd-table {
    border: none;
    font-size: 0.95rem;
  }
  table.rwd-table thead {
    display: none;
  }
  table.rwd-table .mobile-th {
    display: block;
  }
  table.rwd-table tr.mobile-active,
table.rwd-table tr.mobile-active a,
table.rwd-table td.mobile-active,
table.rwd-table td.mobile-active a,
table.rwd-table th.mobile-active,
table.rwd-table th.mobile-active a {
    background: #2c2c2c;
    color: #fff;
  }
  table.rwd-table thead tr,
table.rwd-table tbody tr {
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
  }
  table.rwd-table tfoot tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  table.rwd-table tbody tr {
    margin-bottom: 1rem;
  }
  table.rwd-table tbody td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0;
  }
}

.input-number {
  width: 110px;
  font-size: 0;
  line-height: 30px;
  border: 1px solid #CCCCCC;
  vertical-align: top;
  margin: 0 auto;
}
.input-number .minus, .input-number .plus, .input-number input {
  display: inline-block;
  margin: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  vertical-align: top;
  height: 30px;
}
.input-number input {
  width: 40px;
  font-size: 1rem;
}
.input-number .minus {
  border-right: 1px solid #CCCCCC;
}
.input-number .plus {
  border-left: 1px solid #CCCCCC;
}
.input-number .minus, .input-number .plus {
  width: 34px;
  position: relative;
  cursor: pointer;
}
.input-number .minus:before, .input-number .plus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 1px;
  pointer-events: none;
  background-color: #2c2c2c;
  margin-left: -5px;
}
.input-number .minus:hover, .input-number .plus:hover {
  background-color: #CCCCCC;
}
.input-number .minus:hover:before, .input-number .plus:hover:before {
  background-color: #FFFFFF;
}
.input-number .plus:after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  background-color: #2c2c2c;
  margin: -4px 0 0 -1px;
  width: 1px;
  height: 9px;
}
.input-number .plus:hover {
  background-color: #CCCCCC;
}
.input-number .plus:hover:after {
  background-color: #FFFFFF;
}

@media all and (max-width: 575px) {
  .input-number {
    margin: 0;
  }
}
.cart-num {
  position: absolute;
  right: -5px;
  top: -5px;
  background: #dd0808;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}

.title-banner {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: 0.01em;
  color: #fff;
  font-size: 36px;
  margin-bottom: 0.5em;
}
@media all and (min-width: 768px) {
  .title-banner {
    font-size: 48px;
  }
}
@media all and (min-width: 1200px) {
  .title-banner {
    font-size: 62px;
  }
}

.subtitle-banner {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
}
@media all and (min-width: 768px) {
  .subtitle-banner {
    font-size: 20px;
  }
}

.title-sec {
  font-size: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 0.5em;
}
@media all and (min-width: 768px) {
  .title-sec {
    font-size: 38px;
  }
}

.title-card {
  font-size: 18px;
}
@media all and (min-width: 768px) {
  .title-card {
    font-size: 20px;
  }
}

.border-under-title {
  display: block;
  margin: 0.5em 0;
  width: 40px;
  height: 2px;
  background: #2c2c2c;
}
.border-under-title.sm {
  width: 30px;
}
@media all and (min-width: 768px) {
  .border-under-title {
    width: 46px;
  }
  .border-under-title.sm {
    width: 38px;
  }
}

.deco-line-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deco-line-wrap .deco-line {
  display: block;
  margin: 0 0.5em;
  width: 40px;
  height: 2px;
  background: #fff;
}
.deco-line-wrap .deco-line.sm {
  width: 30px;
}
@media all and (min-width: 768px) {
  .deco-line-wrap .deco-line {
    width: 46px;
  }
  .deco-line-wrap .deco-line.sm {
    width: 38px;
  }
}

/* text */
.text {
  line-height: 1.65;
  font-size: 15px;
}

/* price */
.price {
  color: #2c2c2c;
  font-weight: bold;
}
.price.special {
  font-size: 1.4em;
  color: #dd0808;
}

select,
input,
textarea {
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #777676;
}
select[readonly], select:disabled,
input[readonly],
input:disabled,
textarea[readonly],
textarea:disabled {
  background: #e8e8e8;
}

label.checkbox {
  margin-bottom: 0;
  cursor: pointer;
}
label.checkbox input {
  position: absolute;
  visibility: hidden;
  width: auto;
}
label.checkbox input + span {
  position: relative;
  display: inline-block;
  padding-left: 32px;
  letter-spacing: 0;
  line-height: 1.5;
}
label.checkbox input + span:before, label.checkbox input + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
label.checkbox input + span:before {
  width: 20px;
  height: 20px;
  background: #e4e4e4;
  border-radius: 6px;
}
label.checkbox input + span:after {
  border-bottom: 3px solid #2d83a7;
  border-right: 3px solid #2d83a7;
  width: 8px;
  height: 12px;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.1s linear all;
  left: 6px;
  top: 2px;
  border-radius: 2px;
}
label.checkbox input:checked + span:after {
  opacity: 1 !important;
}

label.radiowrap {
  margin-right: 0.75em;
}
label.radiowrap input {
  position: absolute;
  visibility: hidden;
  width: auto;
}
label.radiowrap input + span {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  letter-spacing: 0;
  line-height: 1.5;
}
label.radiowrap input + span:before, label.radiowrap input + span:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: 0.1s linear all;
}
label.radiowrap input + span:before {
  background: #eee;
  width: 16px;
  height: 16px;
  left: 5px;
  top: calc((24px - 16px) / 2);
}
label.radiowrap input + span:after {
  width: 6px;
  height: 6px;
  left: calc(5px + 5px);
  top: calc((24px - 6px) / 2);
  background: #fff;
  opacity: 0;
}
label.radiowrap input:checked + span:before {
  background: #2d83a7;
}
label.radiowrap input:checked + span:after {
  opacity: 1 !important;
}

.form-item {
  margin-bottom: 1em;
}
.form-item > label {
  display: block;
  margin-bottom: 0.25em;
}
.form-item > .text-danger {
  font-size: 0.875em;
  margin-top: 0.25em;
  margin-bottom: 0;
}
.form-item.inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-item.inline > .text-danger {
  flex-basis: 100%;
}
.form-item.inline > label {
  display: inline-block;
  width: 80px;
  flex-shrink: 0;
  margin-bottom: 0;
}
.form-item.inline > label + * {
  flex-grow: 1;
}

.text-danger {
  color: #dd0808;
  font-size: 0.875em;
}

.slidersec {
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.mainslider .slick-arrow {
  opacity: 0.9;
  background: transparent;
  left: 0;
}
.mainslider .slick-arrow.slick-next {
  right: 0;
  left: auto;
}
.mainslider .slick-arrow:before {
  color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  font-size: 2rem;
}
.mainslider .slick-arrow:hover:before {
  color: #2d83a7;
}

.thumbs {
  margin: 8px -4px 0 -4px;
}
.thumbs .item {
  padding-left: 4px;
  padding-right: 4px;
}

.product-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.75em;
}
@media all and (min-width: 992px) {
  .product-info h1 {
    font-size: 28px;
  }
}
@media all and (min-width: 1400px) {
  .product-info h1 {
    font-size: 32px;
  }
}
.product-info .price {
  font-size: 18px;
}
@media all and (min-width: 992px) {
  .product-info .price {
    font-size: 20px;
  }
}
.product-info .price .special {
  font-weight: bold;
}
.product-info .btn-addwish {
  border: 1px solid #2d83a7;
  display: inline-flex;
  width: 38px;
  height: 38px;
  font-size: 19px;
}

.options {
  padding: 6px 0;
}
.options > * {
  display: inline-block;
  vertical-align: middle;
}
.options > span {
  width: 60px;
}
.options > span + * {
  width: 130px;
}
.options > span + .price {
  width: 200px;
}
.options > span + .box-qty {
  width: calc(100% - 70px);
}

.relatedslider {
  padding-bottom: 30px;
}
.relatedslider .slick-slide {
  padding: 5px;
}
.relatedslider .slick-slide .price {
  font-size: 16px;
}

.itemlist ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  align-items: center;
}

.cartitem {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cartitem .thumb {
  width: 70px;
  float: left;
  margin-right: 5px;
}

.cartitem .info {
  flex-basis: 100%;
  max-width: 100%;
}

.cartitem .qtywrap {
  flex-basis: 100%;
  max-width: 100%;
}

.cartitem h5 {
  font-size: 1.125em;
}

.qtywrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.qtybox {
  width: 140px;
}

.qtybox * {
  vertical-align: middle;
}

.qtybox input {
  width: 80px;
  text-align: center;
}

.qtybox button {
  border: 0;
  background: #ff923e;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.totals {
  width: 200px;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.totals li span {
  float: left;
}

@media (max-width: 767px) {
  .itemlist ul li > *:first-child {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .itemlist ul li > a + * {
    width: 100%;
    text-align: right;
  }

  .itemlist ul li {
    flex-wrap: wrap;
  }

  .itemlist ul li .cartitem {
    width: calc(100% - 45px);
    padding-right: 10px;
    border-right: 1px dashed #e1e1e1;
  }

  .cartitem .qtywrap {
    margin-top: 5px;
  }

  .checkoutpage .itemlist ul li .cartitem, .box .itemlist ul li .cartitem {
    width: calc(100% - 80px);
    margin-right: 10px;
  }

  .wishlist.itemlist ul li .cartitem {
    width: 100%;
    border-right: 0;
    padding-right: 0;
  }
}
.form-box {
  border-radius: 6px;
  padding: 30px 20px 30px;
}
.form-box .pagetitle h1 {
  font-size: 2em;
  margin-bottom: 0;
}
.form-box select {
  height: 34px;
}
.form-box.sm {
  max-width: 480px;
}

.social_login .btn {
  min-width: auto;
  width: 100%;
}

.member-func .card {
  text-align: center;
  border: 0;
  margin-bottom: 30px;
}
.member-func .card i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #2d83a7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.25em;
  font-size: 36px;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
.member-func .card i:before {
  margin-top: 0.05em;
}
@media all and (min-width: 992px) {
  .member-func .card i {
    width: 90px;
    height: 90px;
    font-size: 44px;
  }
}
.member-func .card h4 {
  font-size: 1.125em;
}
@media all and (min-width: 992px) {
  .member-func .card h4 {
    font-size: 1.25em;
  }
}
.member-func .card a:hover i {
  color: #2d83a7;
  background: #fff;
}

.addbook {
  background: #f4f8fa;
  border-left: 5px solid #2d83a7;
  border-radius: 6px;
  padding: 10px;
}
@media all and (min-width: 992px) {
  .addbook {
    padding: 20px;
  }
}
.addbook h5 {
  margin: 0.25em 0;
  font-size: 16px;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  -webkit-line-clamp: 2;
  height: 3em;
}
@media all and (max-width: 767px) {
  .addbook .price s {
    display: none;
  }
}

.links {
  text-align: right;
}
.links .btn {
  min-width: auto;
  border-radius: 0;
  padding: 0 15px;
}
.links .btn:hover {
  opacity: 0.75;
}
.links .btn-link {
  color: #2c2c2c;
}

.list-order .btn-main {
  min-width: auto;
  font-size: 13px;
  padding: 4px 8px;
  margin-left: 12px;
  white-space: nowrap;
}
.list-order .badge {
  background: #777676;
  color: #fff;
  font-weight: normal;
}
.list-order li {
  margin-bottom: 0.5em;
  padding: 5px 10px;
  background: rgba(45, 131, 167, 0.05);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box-news {
  display: block;
  border: 1px solid #eee;
}
.box-news .box-img:before {
  padding-bottom: 56.25%;
}
.box-news .cont {
  position: relative;
  padding: 18px 10px 5px;
}
.box-news .cont h5 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  -webkit-line-clamp: 1;
  height: 1.5em;
  margin-bottom: 0;
}
.box-news .cont .date {
  position: absolute;
  background: #2d83a7;
  color: #fff;
  padding: 3px 6px;
  border-radius: 3px;
  left: 10px;
  top: -14px;
}
.box-news:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.date {
  color: #777676;
  font-size: 14px;
}

.card.card-news .box-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.card.card-news .box-img:before {
  content: "";
  display: block;
  min-height: 200px;
  width: 100%;
  padding-bottom: 75%;
}
@media all and (min-width: 992px) {
  .card.card-news {
    max-width: none;
    flex-direction: row;
  }
  .card.card-news .box-img {
    width: 16rem;
  }
}

.box-article {
  position: relative;
  padding: 30px 28px 23px 23px;
  background-color: #fff;
}
.box-article:after {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(#3550A1, #528C97);
  border-radius: 0 5px 5px 0;
}

.list-contact-info li {
  position: relative;
  padding-left: 2rem;
  line-height: 1.75rem;
  color: #2c2c2c;
}
.list-contact-info li:not(:last-child) {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.list-contact-info li i {
  font-size: 1.25rem;
  width: 1.75rem;
  text-align: center;
  position: absolute;
  left: 0;
  line-height: 1.75rem;
  color: #2d83a7;
}
.list-contact-info li > a {
  color: #2c2c2c;
}
.list-contact-info li > a:hover {
  color: #2d83a7;
}

.list-faq .item {
  margin-bottom: 1.5em;
}
.list-faq .item h5 {
  position: relative;
  padding-right: 30px;
  padding-left: 0.5em;
  border-bottom: 1px solid #777676;
  cursor: pointer;
  padding-bottom: 8px;
  font-size: 17px;
}
@media all and (min-width: 992px) {
  .list-faq .item h5 {
    font-size: 19px;
  }
}
.list-faq .item h5:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  font-size: 16px;
  position: absolute;
  right: 0;
  line-height: 24px;
  transition: 0.2s ease all;
}
.list-faq .item h5.opened {
  border-color: transparent;
  color: #28a7e1;
}
.list-faq .item h5.opened:after {
  transform: rotate(180deg);
}
.list-faq .item .ans {
  background: #f1f1f1;
  border-radius: 8px;
  display: none;
  padding: 10px 20px;
}
.list-faq .item .ans > *:last-child {
  margin-bottom: 0;
}
@media all and (min-width: 992px) {
  .list-faq .item .ans {
    padding: 20px 30px;
  }
}

/* brand */
/* opacity & gradient */
/* 例如:
  @include device(pc);
  得到 1400px
*/
/*
例如：
  @include res(pad, to-pc) {...}
  等同於
  @media all and (min-width: 768px) {...}

  @include res(pad, to-mb) {...}
  等同於
  @media all and (max-width: 767px) {...}
*/
/*
  for example:

  .grids-3{
    @include setgrids(3,12px);
  }

  在.grids-3底下的children會以3個一列，彼此間距為12px

  .grids-4{
    @include setgrids(2,12px,[[pad,3,16px],[pc,4,20px]]);
  }

  在.grids-4底下的children在pc以上的裝置會以4個一列，彼此間距為20px
                         在pad-pc的裝置會以3個一列，彼此間距為16px
                         在pad以下的裝置會以2個一列，彼此間距為12px

*/
.border h2 {
  text-align: center;
  background: #eee;
  padding: 10px;
}
.border .sub {
  padding: 5px;
  text-align: center;
  background: #eee;
  margin-top: 0.5em;
}

.basic {
  font-size: 60px;
  font-family: "Arial", "Noto Sans TC", sans-serif;
}
.basic .en {
  font-family: "Oswald", "Noto Sans TC", sans-serif;
}

.colors > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.colors .main {
  background: #2d83a7;
}
.colors .second {
  background: #28a7e1;
}
.colors .black {
  background: #2c2c2c;
}
.colors .light {
  background: #f4f8fa;
}
.colors .grey {
  background: #777676;
}
.colors .red {
  background: #dd0808;
}

.select2-container--default .select2-selection--single {
  height: calc(1.5em + .75rem + 2px);
  background-color: #fff;
  border: 1px solid #becad6;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #2d83a7;
  color: #fff;
}

/*# sourceMappingURL=common.css.map */
