/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    font-size: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    font-size: 0;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide>div>div{
    font-size: 1rem;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow{position: absolute;left: 10px;top: calc(50% - 20px);width: 40px;height: 40px;font-size: 0;text-align: center;z-index: 3;background: rgba(255, 255, 255, 0.5);border: 0;border-radius: 50%;opacity: 0;transition: .3s linear all}
.slick-arrow:hover{background: #fff}
.slick-slider:hover .slick-arrow{opacity: 1}
.slick-arrow:before{content: "\f053";font-family: "Font Awesome 5 Free";font-size: 16px;line-height: 40px;font-weight: 900;color: #333}
.slick-next.slick-arrow{left: auto;right: 10px}
.slick-next.slick-arrow:before{content: '\f054';}
.slick-dots{position: absolute;width: 100%;left: 0;bottom: 0;text-align: center;list-style: none;padding: 0}
.slick-dots li{display: inline-block}
.slick-dots li button{background: #fff;border: 0;border-radius: 50%;width: 12px;height: 12px;margin: 5px 3px;font-size: 0}
.slick-dots li.slick-active button{background: #333}