/*----------------*/
/*  fonts import  */
/*----------------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');
@import '_setting';

/*-----------*/
/* html tags */
/*-----------*/
body{background: #dae0e6; color: color(default);font-family: $font_family;font-size: 14px;
    @include responsive(pad){
        font-size: 16px
    }
}
img,iframe{max-width: 100%;max-height: 100%}
a{
    @include linkhover(color(default),color(main)){
        text-decoration: none;
    }
}

h1,h2,h3,h4,h5,h6,.active{font-weight: 600}

h1{
    font-size: 24px;
    @include responsive(pc){
        font-size: 36px;
        .large{font-size: 48px}
    }
}
h4{
    font-size: 16px;
    @include responsive(padpro){
        font-size: 18px;
        .large{font-size: 22px}
    }
}

input,select,textarea{
    @include b_radius;
    background: #f6f7f8;
    border: border(grey-1px);
    padding: 3px 12px;
}
/*------------*/
/*  features  */
/*------------*/

.resetlist{
    list-style: none;
    padding: 0;
    margin: 0;
}

%btn_property{
    font-weight: 300;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.4;
    @include b_radius;
    @include responsive(pad){
        min-width: 115px;
        font-size: 15px;
    }
}

%textbox_property{
    display: block;
    display: #{nth($prefix,1)}box;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    #{nth($prefix,1)}box-orient: vertical;
    width: calc(100%);
}
.line1{white-space: nowrap;display: block;overflow: hidden;text-overflow: ellipsis;}

@for $i from 2 through 3 {
    .line#{$i}{#{nth($prefix,1)}line-clamp: $i;}
}

.textbox-short{
    line-height: lineheight(short);
    @extend %textbox_property;
    @include textbox(lineheight(short));
}

.textbox{
    line-height: lineheight(normal);
    @extend %textbox_property;
    @include textbox(lineheight(normal));
}

.textbox-tall{
    line-height: lineheight(tall);
    @extend %textbox_property;
    @include textbox(lineheight(tall));
}

.inlinelist{
    @extend .resetlist;
    li{display: inline-block;
        a{display: block;padding: 5px 10px;}
    }
}
.mainbtn{
    background: color(main_lighter);
    border: 1px solid color(main_lighter);
    @extend %btn_property;
    @include linkhover(#fff,#fff){
        background: color(main);
        border: 1px solid color(main);
    }
}
.borderbtn{
    background: #fff;
    border: 1px solid color(default);
    @extend %btn_property;
    @include linkhover(color(default),#fff){
        background: color(main);
        border: 1px solid color(main);
    }
}
@each $name,$c in $color{
    .t_#{$name}{
        color: $c
    }
    .bg_#{$name}{
        background: $c
    }
}
.imgwrap{
    position: relative;
    overflow: hidden;
    background: {
        size:cover;
        position: center;
        repeat:no-repeat;
    };
    &.imgcontain{
        background-size: contain;
    };
    &:before{
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
}
.btmbtn{
    text-align: center;
    margin-top: 15px;
    @include responsive(pc){
        padding: 15px;
        margin-top: 15px;
    }
}
.scrollToTop{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    background: color(main);
    @include flexcenter(extreme);
    @include linkhover(#fff,#fff){
        background: color(main_lighter);
    }
}
.iframewrap iframe{min-height: 300px;width: 100%}
/*----------*/
/*  header  */
/*----------*/
.searchwrap{
    font-size: 0;
    display: flex;
    align-items: stretch;
    flex-grow: 2;
    margin-right: 10px;
    input{
        font-size: 14px;
        line-height: lineheight(normal);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width:calc(100% - 36px);
    }
    button{
        min-width: 36px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0}
    @include responsive(pad){
        input{font-size: 15px;width:calc(100% - 50px);}
        button{min-width: 50px;}
    }
}

.fixed header{position: fixed;top: 0;right: 0;left: 0;z-index: 1001;
    .logo{
        img{max-height: 54px}
        @include responsive(pad){
            padding: 8px 12px;
            width: auto;
        }
        @include responsive(macpro){
            img{max-height: 57px}
        }
    }
}
/*-----------*/
/*   Footer  */
/*-----------*/
.footer{
    text-align: center;
    .inlinelist{
        font-size: 0;
        li{
            font-size: 14px;
            border-right: 1px solid #000;
            margin-bottom: 6px;
            &:last-of-type{border-right: 0}
            a{padding: 0 6px;line-height: 1em;
                @include responsive(pc){
                    padding: 0 12px
                }
            }
        }
    }
}
.copyright{color: color(grey_1);font-size: 12px;padding: 0 6px;margin-bottom: 0}