@import "../setting"; //vendor

// reset
*, ::after, ::before, :after, :before{ 
  box-sizing: border-box;
}

ul, ol{
  padding: 0; 
  margin: 0; 
  list-style-type: none;
}



// default
body{
  margin: 0;
  font-size: 15px;
  font-family: $font-default;
}

a{
  display: inline-block;
  color: $main;
  transition: .3s linear all;
  &:hover {
    text-decoration: none;
    color: $black;
  }
  &:focus {
    outline: none;
  }
}

img{
  max-width: 100%;
  height: auto!important;
}

iframe{
  max-width: 100%;
}

section{
  padding: 30px 0;
  @include res(xlpad){
    padding: 48px 0;
  }
}

input, button, textarea, select{
  border: 0
}

$input-prefix: '::-webkit-input-',':-moz-','::-moz-',':-ms-input-';

@each $i in $input-prefix{
  #{$i}placeholder{
    color: #c5c5c5;
  }
}

// margin & padding
.mt-30{
  @include m(top,20px);
  @include res(xlpad){
    @include m(top,30px);
  }
}

.mb-30{
  @include m(bottom,20px);
  @include res(xlpad){
    @include m(bottom,30px);
  }
}


.container{
  margin:0 auto;
  padding: 0 9px;
  width: 100%;
  >.row:not(.no-gutters){
    margin-left: -9px;
    margin-right: -9px;
    >div[class^='col-']{
      padding-left: 9px;
      padding-right: 9px;
    }
  }
  @include res(pad){
    max-width: 760px;
  }
  @include res(xlpad){
    max-width: 1000px;
    &.sm{
      max-width: 960px;
    }
  }
  @include res(nb){
    max-width: 1258px;
  }
}

.breadcrumb{
  padding: 0;
  background: $none;
  font-size: 0.875em;
}

//grids
.grids-2{
  @include setgrids(1,10px,[['pad',2,16px]]);
}
.grids-2-nogap{
  @include setgrids(1,0px,[['phone',2,0px]]);
}
.grids-3{
  @include setgrids(1,10px,[['pad',2,12px],['nb',3,12px]]);
}
.grids-6{
  @include setgrids(2,6px,[['pad',3,6px],['xlpad',4,6px],['nb',6,6px]]);
}
.iframe{
  @include imgbox(60%,200px);
  iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.between{
  @include flexbox(y);
  justify-content: space-between;
  flex-wrap: wrap;
}

.slick-arrow{
  opacity: 0.5;
  background: #a7a7a7;
  padding: 0;
  &:before{
    color: $white;
    font-size: 15px;
  }
  &:hover{
    background: $main;
    box-shadow: $shadow-button;
    opacity: 1;
  }
  @include res(pc){
    left: -52px;
    &.slick-next{
      left: auto;
      right: -52px;
    }
  }
}