@import "../setting"; //vendor


// textbox: 限制文字最大行數
.txt-l1 {
  @include textbox(1);
}

.txt-l2 {
  @include textbox(2);
}

.txt-l3 {
  @include textbox(3);
}

//  text color
.text-main {
  color: $main !important;
}
.text-main-dark {
  color: $main-dark !important;
}
.text-Auxiliarya {
  color: $Auxiliarya !important;
}
.text-Auxiliaryb {
  color: $Auxiliaryb !important;
}
.text-Secondarya {
  color: $Secondarya !important;
}
.text-Secondaryb {
  color: $Secondaryb !important;
}
.text-Secondaryc {
  color: $Secondaryc !important;
}
.text-Secondaryd {
  color: $Secondaryd !important;
}
.text-Secondarye {
  color: $Secondarye !important;
}
.text-Secondaryf {
  color: $Secondaryf !important;
}




// background color
.bg-main {
  background-color: $main !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-light {
  background-color: $light !important;
}

// Image 固定寬高比
.box-img {
  @include imgbox(100%);
  background-size: contain;

  &.r-4-3 {
    &:before {
      padding-bottom: 75%;
    }
  }

  &.r-16-9 {
    &:before {
      padding-bottom: 56.25%;
    }
  }

  &.img-fit-text {
    &:before {
      padding-bottom: 50%;
    }
  }

  &.img-contain {
    background-size: contain;
  }

  &.img-all {
    &:before {
      padding-bottom: 60%;
    }
  }

  &.img-alls {
    &:before {
      padding-bottom: 80%;
    }
  }

  &.img100 {
    &:before {
      padding-bottom: 100%;
    }
  }
}

// For editor
// 若串接後台編輯器 (例如: article.php)
.edit-area {
  line-height: 1.75;
  color: #656569;

  // h3 {
  //   font-size: 30px;
  // }

  ul {
    padding-left: 1em;
    list-style: disc;
  }

  ol {
    padding-left: 1.5em;
    list-style: decimal;

    ul {
      list-style: upper-alpha;
      padding-left: 1em;
    }
  }

  img {
    height: auto !important;
  }

  ul,
  ol,
  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }

  iframe {
    max-width: 100%;
  }

  a {
    color: $main;
  }

  blockquote {
    background-color: #f5f6fa;
    border-left: 4px solid $main;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 1.1em;
  }

  // 作者、發布日期等等
  .post-details {
    margin-bottom: 20px;
    line-height: 1;
    padding-left: 0;

    li {
      display: inline-block;
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid currentColor;

      i {
        margin-right: 5px;
        color: $main;
        position: relative;
        top: 2px;
      }

      &:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }

}

//Vue Instance 不顯示變數
[v-cloak] {
  display: none;
}

