.footer{
  color: $grey;
  background: $light;
  padding-top: 30px;
  font-size: 14px;
  line-height: 2em;

  ul > li {
    vertical-align: top;
  }

  a {
    color: $grey;
    &:hover{ color: $main; }
  }

  h5 {
    color: $grey;
    font-weight: bold;
    font-size: 18px;
  }

  ul.footer-ul-2-col > li { display: inline-block; width: 100%; }
  ul.footer-ul-4-col > li { display: inline-block; width: 48%; }

  @media all and (min-width: 576px) {
    ul.footer-ul-2-col > li { display: inline-block; width: 48%; }
  }

  @media all and (min-width: 768px){
  }

  @media all and (min-width: 992px){
    ul.footer-ul-2-col > li { display: inline-block; width: 48%; }
    ul.footer-ul-4-col > li { display: inline-block; width: 48%; }
  }

  @media all and (min-width: 1200px){
    ul.footer-ul-4-col > li { display: inline-block; width: 23%; }
  }

  @media all and (min-width: 1400px){
  }

  @media all and (min-width: 1600px){
  }


  @include res(xlpad){
    padding-top: 42px;
  }
  .copyright {
    font-size: 12px;
    margin: 0;
    background: $main;
    text-align: center;
    padding: 15px 10px;
    color: transparentize($white,0.4);
  }
}

.float-cart {
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 999;
  @include oval(40px,$second);
  box-shadow: $shadow-box;
  color: #fff;

  &:hover{
    background: $white;
    color: $main;
  }
}
.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  @include oval(40px,$second);
  box-shadow: $shadow-box;
  color: #fff;
  &:hover{
    background: $white;
    color: $main;
  }
}
