@import "../setting";  // vendor
.footer{
  color: $grey;
  background: $light;
  padding-top: 30px;
  font-size: 14px;
  line-height: 2em;
  @include res(xlpad){
  padding-top: 42px;
  }
  a{
    color: $grey;
    &:hover{
      color: $main;
    }
  }
  h5{
    color: $grey;
    font-weight: bold;
    font-size: 18px;
  }
  .list-leftIcon{
    letter-spacing: 0.1em;
  }
}
.form-newsletter{
  border: 1px solid #ebebeb;
  border-radius: 3px;
  .wrap{
      display: flex;align-items: center;
      padding: 0px 8px;
  }
  input{font-size: 13px;padding: 2px 6px;font-weight: 400;border: 0;background: transparent;flex-grow: 2;}
  button{border: 0;background: transparent;color: $grey;font-size: 14px;padding: 2px 10px}
}
.copyright{
  font-size: 13px;
  letter-spacing: 0.1em;
  margin: 0;
  background: $main;
  text-align: center;
  padding: 15px 10px;
  color: rgba(255, 255, 255, 0.6);
}
.scrollToTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  @include oval(40px,$main);
  box-shadow: $shadow-box;
  border: 3px solid $white;
  color: #fff;
  &:hover{
    background: $white;
    color: $second;
  }
}