


$border-ani-width: 2px;
$border-ani-full: calc(100% + #{$border-ani-width} * 2);
.hover-border-ani {
  position: relative;
  display: block;
}

.hover-border-ani:before {
  content: '';
  position: absolute;
  top: - $border-ani-width;
  left: - $border-ani-width;
  z-index: -1;
  width: 0;
  height: 0;
  background: trasparent;
  border: 2px solid black;
  border-width: $border-ani-width;
  border-style: solid;
  border-color: transparent;
}

.hover-border-ani:hover:before {
  animation: border-ani 0.5s ease-in-out forwards;
}

@keyframes border-ani {
  0% {
    width: 0;
    height: 0;
    border-top-color: $second;
    border-right-color: tranparent;
    border-bottom-color: tranparent;
    border-left-color: tranparent;
  }
  50% {
    width: $border-ani-full;
    height: 0;
    border-top-color: $second;
    border-right-color: $second;
    border-bottom-color: tranparent;
    border-left-color: tranparent;
  }
  100% {
    width: $border-ani-full;
    height: $border-ani-full;
    border-top-color: $second;
    border-right-color: $second;
    border-bottom-color: tranparent;
    border-left-color: tranparent;
  }
}


.hover-border-ani:after {
  content: '';
  position: absolute;
  top: - $border-ani-width;
  left: - $border-ani-width;
  z-index: -1;
  width: 0;
  height: 0;
  background: trasparent;
  // border: 2px solid black;
  border-width: $border-ani-width;
  border-style: solid;
  border-color: transparent;
}

.hover-border-ani:hover:after {
  animation: border-ani2 0.5s ease-in-out forwards;
}

@keyframes border-ani2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: tranparent;
    border-right-color: tranparent;
    border-bottom-color: tranparent;
    border-left-color: $main;
  }
  50% {
    width: 0;
    height: $border-ani-full;
    border-top-color: tranparent;
    border-right-color: tranparent;
    border-bottom-color: $main;
    border-left-color: $main;
  }
  100% {
    width: $border-ani-full;
    height: $border-ani-full;
    border-top-color: tranparent;
    border-right-color: tranparent;
    border-bottom-color: $main;
    border-left-color: $main;
  }
}