@import "../setting"; //vendor
// ---
// Reboot
// ---
*, ::after, ::before, :after, :before{ 
  box-sizing: border-box;
}

ul, ol{
  padding: 0; 
  margin: 0; 
  list-style-type: none;
}

// default
body{
  margin: 0;
  font-family: $font-default;
}

a{
  display: inline-block;
  color: $main;
  transition: .3s linear all;
  &:hover {
    text-decoration: none;
    color: $black;
  }
  &:focus {
    outline: none;
  }
}

img, iframe{
  max-width: 100%;
}
// section 預設 padding
section{
  padding: 30px 0;
  @include res(xlpad){
    padding: 48px 0;
  }
  @include res(xlpc){
    padding: 72px 0;
  }
}

input, button, textarea, select{
  border: 0;
  &:focus{
    outline: none;
  }
}

$input-prefix: '::-webkit-input-',':-moz-','::-moz-',':-ms-input-';

// placeholder 顏色
@each $i in $input-prefix{
  #{$i}placeholder{
    color: #c5c5c5;
  }
}

// margin & padding
.mt-30{
  @include m(top,20px);
  @include res(xlpad){
    @include m(top,30px);
  }
}

.mb-30{
  @include m(bottom,20px);
  @include res(xlpad){
    @include m(bottom,30px);
  }
}

.breadcrumb{
  padding: 0;
  background: $none;
  font-size: 0.875em;
}


// 覆寫 slick.css 箭頭按鈕

.slick-arrow{
  opacity: 0.5;
  background: $grey;
  padding: 0;
  &:before{
    color: $white;
    font-size: 15px;
  }
  &:hover{
    background: $main;
    box-shadow: $shadow-button;
    opacity: 1;
  }
  @include res(nb){
    left: -50px;
    &.slick-next{
      left: auto;
      right: -50px;
    }
  }
}
