
// text
.title-banner {
  text-shadow: $shadow-text;
  letter-spacing: 0.01em;
  color: #fff;
  font-size: 36px;
  margin-bottom: 0.5em;

  @include res(pad) {
    font-size: 48px;
  }
  @include res(nb) {
    font-size: 62px;
  }
}

.subtitle-banner {
  text-shadow: $shadow-text;
  color: #fff;
  font-size: 18px;
  @include res(pad) {
    font-size: 20px;
  }
}

.title-sec {
  font-size: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 0.5em;
  @include res(pad) {
    font-size: 38px;
  }
}
.title-card {
  font-size: 18px;
  @include res(pad) {
    font-size: 20px;
  }
}

h1, .h1 {
  font-size: 30px;
  @include res(pad) {
    font-size: 38px;
  }
}
h1, .h2 {
  font-size: 22px;
  @include res(pad) {
    font-size: 32px;
  }
}
h1, .h3 {
  font-size: 18px;
  @include res(pad) {
    font-size: 28px;
  }
}
h1, .h4 {
  font-size: 18px;
  @include res(pad) {
    font-size: 24px;
  }
}
h1, .h5 {
  font-size: 18px;
  @include res(pad) {
    font-size: 22px;
  }
}

.title01 {
  font-size: 16px;
  @include res(pad) {
    font-size: 20px;
  }
}
.title02 {
  font-size: 16px;
  @include res(pad) {
    font-size: 18px;
  }
}

.title03 {
  font-size: 14px;
  @include res(pad) {
    font-size: 16px;
  }
}

.title04 {
  font-size: 12px;
  @include res(pad) {
    font-size: 14px;
  }
}

.title05 {
  font-size: 12px;
}







.border-under-title {
  display: block;
  margin: 0.5em 0;
  width: 40px;
  height: 2px;
  background: $black;
  &.sm {
    width: 30px;
  }
  @include res(pad) {
    width: 46px;
    &.sm {
      width: 38px;
    }
  }
}

.deco-line-wrap {
  @include flexbox(center);

  .deco-line {
    display: block;
    margin: 0 0.5em;
    width: 40px;
    height: 2px;
    background: $white;
    &.sm {
      width: 30px;
    }
    @include res(pad) {
      width: 46px;
      &.sm {
        width: 38px;
      }
    }
  }

}
/* text */
.text {
  line-height: 1.65;
  font-size: 15px;
}

/* price */
.price {
  color: $black;
  font-weight: bold;
  &.special {
    font-size: 1.4em;
    color: $red;
  }
}
