.itemlist ul li{display: flex;justify-content: space-between;border-bottom: 1px solid #e6e6e6;padding: 0.5rem 0;margin-bottom: 0.5rem;align-items: center;}
.cartitem{display: flex;flex-grow: 2;align-items: center;justify-content: space-between;flex-wrap: wrap}
.cartitem .thumb{width: 70px;float: left;margin-right: 5px}
.cartitem .info{flex-basis: 100%;max-width: 100%;}
.cartitem .qtywrap{flex-basis: 100%;max-width: 100%;}
.cartitem h5{font-size: 1.125em}
.qtywrap{display: flex;justify-content: flex-end;align-items: center;flex-wrap: wrap}
.qtybox{width: 140px}
.qtybox *{vertical-align: middle}
.qtybox input{width: 80px;text-align: center}
.qtybox button{border: 0;background: #ff923e;border-radius: 50%;color: #fff;font-size: 12px;padding: 0;width: 20px;height: 20px;line-height: 20px;}
.totals{width: 200px;text-align: right;margin-right: 0;margin-left: auto}
.totals li span{float: left;}
@media (max-width:767px){
    .itemlist ul li>*:first-child{width: 100%;margin-bottom: 0.5rem}
    .itemlist ul li>a+*{width: 100%;text-align: right}
    .itemlist ul li{flex-wrap: wrap}
    .itemlist ul li .cartitem{width: calc(100% - 45px);padding-right: 10px;border-right: 1px dashed #e1e1e1;}
    .cartitem .qtywrap{margin-top: 5px}
    .checkoutpage .itemlist ul li .cartitem,.box .itemlist ul li .cartitem{width: calc(100% - 80px);margin-right: 10px}
    .wishlist.itemlist ul li .cartitem{width: 100%;border-right: 0;padding-right: 0}
}