.slidersec{
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.mainslider {
  .slick-arrow{
    opacity: 0.9;
    background: $none;
    left: 0;
    &.slick-next{
      right: 0;
      left: auto;
    }
    &:before{
      color: $white;
      text-shadow: $shadow-text;
      font-size: px2rem(32px);
    }
    &:hover:before{
      color: $main;
    }
  }
}