.box-news{
  display: block;
  border: 1px solid #eee;
  .box-img{
    &:before{
      padding-bottom: 56.25%;
    }
  }
  .cont{
    position: relative;
    padding: 18px 10px 5px;
    h5{
      @include textbox(1,1.5em);
      margin-bottom: 0;
    }
    .date{
      position: absolute;
      background: $main;
      color: $white;
      padding: 3px 6px;
      border-radius: 3px;
      left: 10px;
      top: -14px;
    }
  }
  &:hover{
    box-shadow: $shadow-button;
  }
}

.date{
  color: $grey;
  font-size: 14px;
}


.card.card-news {
  .box-img {
    @include imgbox(75%, 200px)
  }
  @include res(xlpad) {
    max-width: none;
    flex-direction: row;
    .box-img { width: 16rem; }
  }
}


.box-article {
  position: relative;
  padding: 30px 28px 23px 23px;
  background-color: $white;

  &:after {
    content: "";
    display: block;
    width: 8px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(#3550A1, #528C97);
    // background-image: linear-gradient( #e51468, orange 60%, #dfbc00);
    border-radius: 0 5px 5px 0;
}
}