.advantage-show {
  position: relative;
  background-color: #22222a;
  background-image: url(../img/wave_2_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 0px;

  .adv-show-left {
    .logo-bg {
      position: relative;
      background-image: url(../img/U_line.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      min-height: 500px;
      background-position: 35% top;
    }
    img {
      position: absolute;
    }
    #banner-oval {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    #banner-pic1 {
      top: 60px;
      left: 0px;
      @include res(phone, to-mb) {
        max-width: 55%;
        animation: nudgeMouse 8s ease-in-out infinite;
      }
    }
    #banner-pic2 {
      top: 130px;
      right: 0px;
      @include res(phone, to-mb) {
        max-width: 50%;
        animation: nudgeMouse 10s ease-out infinite;
      }
    }
  }
  .adv-show-right {
    padding: 15% 0px;
    .subtitle {
      margin-bottom: 3px;
    }
    h1 {
      color: #3beedc;
      font-size: 52px;
      font-weight: 900;
    }
    h2 {
      color: #ffffff;
      font-weight: 400;
      font-size: 40px;
      letter-spacing: 2px;
      margin-top: -10px;
    }
    p {
      color: #f8f8f8;
      font-weight: 300;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 1px;
      padding-top: 25px;
    }
  }
}